body {
	margin: 0 auto;
	max-width: 50em;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	padding: 0em 1em 4em 1em;
	color: #555;
}

h1, h2, strong {
	color: #333;
}

h1 {
	color: #FFF;
}

h2 {
	margin-top: 1em;
	padding-top: 1em;

}

code, pre {
	background: #f5f7f9;

}

pre {
	padding: 1em;
	background; #f5f7f9;
	border-bottom: 1px solid #d8dee9;
	border-left: 2px solid #69c;
	color" #a7adba
}


a {
	color: #ffff00;
	style: bold;
	font-size: 18pt;
}

header {
	background-color: #333;
	background-image: url("Images/image.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size:cover;
	line-height: 1.2;
	padding: 2em;
	text-align: center;

}